body {
    background: linear-gradient(to left, rgba(0,0,0,.5), rgba(20,20,20,.5)), url('../img/blk-restaurant.jpg');
    background-size: cover;
    /* background-position: 0 -300px; */
    background-position: top;
    color: #fff;
    font-family: 'Cinzel', serif !important;
}

.down-nav {
    background-color: #000 !important;
}

.main {
    position: relative;
    padding-bottom: 5rem;
}

.title {
    position: relative;
    height: 300px;
    /* border: 1px solid red; */
}

.h1 {
    position: absolute;
    top: 20%;
    left: 5%;
    letter-spacing: 10px;
    font-weight: 600;
}

.description-div {
    position: relative;
    height: 100px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20%;
}

.description-h2 {
    font-weight: 400;
    letter-spacing: 5px;
}

.description-h3 {
    font-weight: 400;
    letter-spacing: 5px;
}